<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="nav navbar-nav">
        <a class="nav-item nav-link" href="/">Private-School</span></a>
        <a class="nav-item nav-link" href="http://localhost:3000/list/">Lists</a>
    </div>
</nav>
<main>

    <div class="container">