<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="nav navbar-nav">
        <a class="nav-item nav-link" href="/">Private-School</span></a>
        
    </div>
</nav>

<div class="container">
