<%- include partials/header %>
<%- include partials/navbar %>

<div id="parentDiv">
  <div id="title" class="childDiv bg-warning">
    <h1 class="display-2"><%= title %></h1>
  </div>
  <div class="childDiv bg-danger">
    <a href="http://localhost:3000/list/">
      Inforamation about our School
    </a>
  </div>
  
</div>


<%- include partials/footer %>