<%- include partials/header %>
<%- include partials/navbar %>

<div id="parentDiv">
  <div id="titleIndex" class="childDiv">
    <h1><%= title %></h1>
  </div>
  <div class="childDiv hvr-grow-shadow hvr-glow">
    <a href="http://localhost:3000/list/">
      Inforamation about our School
    </a>
  </div>
  
</div>


<%- include partials/footer %>