<%- include partials/header %>
<%- include partials/navbar %>


<div id="parentDiv" class="mt-5">
    <h1 class="display-4"><%= headings %> </h1>

    <div class="childDiv fromLeft hvr-grow-shadow hvr-glow">
        <a href="http://localhost:3000/list/courses">
            Courses
        </a>
    </div>
    <div class="childDiv fromRight hvr-grow-shadow hvr-glow">
        <a href="http://localhost:3000/list/students">
            Students
        </a>
    </div>
    <div class="childDiv fromLeft hvr-grow-shadow hvr-glow">
        <a href="http://localhost:3000/list/trainers">
            Trainers
        </a>
    </div>
    <div class="childDiv fromRight hvr-grow-shadow hvr-glow">
        <a href="http://localhost:3000/list/assignments">
            Assignments
        </a>
    </div>
</div>
<%- include partials/footer %>