<%- include partials/header %>
<%- include partials/navbar %>

<h1><%= headings %> </h1>

<a href="http://localhost:3000/list/courses">
    Courses
</a>
<a href="http://localhost:3000/list/students">
    Students
</a>
<%- include partials/footer %>