* {
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Libre+Baskerville:wght@700&display=swap');

body {
  font-family: 'Baskervville', serif, sans-serif;
  font-family: 'Libre Baskerville', serif, sans-serif;
  color: white;
  /* background: -webkit-gradient(linear,top, bottom, color-stop(0%, #00938f), color-stop(33%, #26ab8f), color-stop(100%, #5ac387)); */

}

body::before {
  content: "";
  position: fixed;
  top: 0;
  z-index: -1;
  background-image: url(../images/school.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  display: block;
  width: 100vw;
  height: 100vh;
  filter: blur(3px);
}

body {
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2em;
}

#logo {
  max-width: 60px;
  display: block;
  border-radius: 7px;
}

#titleList {
  background: #003331;
  margin: auto;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  opacity: 90%;
}

.navbar {
  background: -webkit-gradient(linear, right top, left top, color-stop(0%, #00938f), color-stop(33%, #26ab8f), color-stop(100%, #5ac387));
  opacity: 0.9;
  width: 100vw;
  margin-bottom: 3em;
  color: black;
}


#parentDiv {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: auto;
}

.childDiv {
  margin: auto;
  padding: 20px;
  width: 500px;
  text-align: center;
  background-color: #003331;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 12px;
  opacity: 0.9;
}

.fromLeft {
  position: relative;
  animation-name: fromleft;
  animation-duration: 800ms;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(.89, .07, 2, .99);
}

.fromRight {
  position: relative;
  animation-name: fromright;
  animation-duration: 800ms;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(.89, .07, 2, .99);
}


@keyframes fromleft {
  from {
    left: -150px;
  }

  to {
    left: 0px;
  }
}

@keyframes fromright {
  from {
    right: -150px;
  }

  to {
    right: 0px;
  }
}



#form {
  padding: 2em;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  display: grid;
  align-items: center;
  letter-spacing: 2px;
}

#form {
  position: relative;
  animation-name: slide;
  animation-duration: 800ms;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.265, 2);
}

#formDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.h1Form,
#title {
  text-shadow: 4px 3px black;
  text-align: right;
  padding-right: 25px;
  text-transform: capitalize;
}



@keyframes slide {
  from {
    top: -100px;
  }

  to {
    top: 0px;
  }
}

#description {
  font-size: 3rem;
}

p {
  font-size: 27px;
}

a {
  color: white;
}

a:hover {
  color: white;
  text-decoration: none;
}

.btn-submit {
  padding: 8px 0;
  background-color: hsla(180, 70%, 40%, 0.8);
  color: white;
  border-radius: 7px;
  font-size: large;
}

@media(max-width: 540px) {
  #formDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .h1Form {
    text-shadow: 4px 3px black;
    text-align: center;
    text-transform: capitalize;
  }

  #parentDiv {
    display: flex;
    align-items: center;
    width: auto;
  }

  .childDiv {
    width: auto;
    text-decoration: underline;
  }

}


/* ----- Glow Shadow Effect ----- */
.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}

.hvr-grow-shadow:hover,
.hvr-grow-shadow:focus,
.hvr-grow-shadow:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* ----- Glow Effect -----*/
.hvr-glow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}

.hvr-glow:hover,
.hvr-glow:focus,
.hvr-glow:active {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}

.list-item {
  background-color: #003331;
  opacity: 0.9;
  border-radius: 10px;
  position: relative;
  animation-name: slide;
  animation-duration: 800ms;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.265,2);
}

.listsH1 {
  background-color: #0f6e6b;
  display: inline;
  padding: 20px;
  border-radius: 10px;
}

.listSpan {
  font-size: 25px;
  font-style: italic;
  font-weight: 600;
  margin-right: 15px;
}

ul {
  list-style-type: none;
}